
%primary_btn {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  line-height: 20px;
  border: none;
  background-color: #fff;

  &:hover {
    background-color: #00798A;
    color: #fff;
  }
}
button{
  cursor: pointer;
}
@media (max-width: 1400px) {

        
}
@media (max-width: 1200px) {


    
}
@media (max-width: 1022px) {



}
@media (max-width: 768px) {



}
@media (max-width: 576px) {


}
@media (max-width: 393px) {


}



