@use 'adaptive';



.hero {
    max-width: 1512px;
    padding: 86px 158px;

    margin: 0 auto;

    .container {

        .hero__items {
            display: flex;
            justify-content: space-between;

            &--text {
                max-width: 620px;
                h1 {
                    margin-bottom: 24px;
                  
                }

                p {
                    font-size: 16px;
                    line-height: 24px;
                  
                    margin-bottom: 24px;

                }

            }

            .join__button {
                @extend %primary_btn;
            }

            .join__button.active {
                background-color: #00798A;
                color: #fff;
            }
            img{
                max-width: 379px;
            }
        }

    }

}



@media (max-width: 886px) {
    .hero {
        padding: 50px 20px;
        margin-top: 32px;

        .hero__items {
            display: flex;
            flex-direction: column;
            align-items: center;

            &--text {
                text-align: center;

                h1 {
                    font-size: 32px;


                }
            }
        }

    }
}
@media (max-width: 393px)  {
    .hero {
        padding: 30px 20px;

        .hero__items {
            
            display: flex;
            flex-direction: column;

            &--text {
                text-align: center;

                h1 {
                    font-size: 25px;
              
        

                }
            }
        }

    }
}